/*
  * Author: Gihan Rangana
  * Description: You can create and use any sass variables with this file. For example please check App.module.scss
*/

/* color variables */
$primary: #4d73f0;
$secondary: #b0eb26;

$bodyBg:#222222;

$white: #ffffff;

$light0:#ffffff;
$light1:#f5f5f5;
$light2:#e5e5e5;
$light3:#d5d5d5;
$light4:#c5c5c5;

$dark0:#000000;
$dark1:#111111;
$dark2:#222222;
$dark3:#333333;
$dark4:#444444;

/* Fonts varaibles */
$fonts: (
    "primary": unquote("Poppins,sans-serif"),
    "heading": unquote("Montserrat,sans-serif"),
);

$fontSize: (
    "tiny": 11px,
    "small": 13px,
    "normal": 15px,
    "medium": 18px,
    "large": 22px,
    "xl": 24px,
    "xxl": 28px,
);

/* mixins */

@mixin headingText($family: "heading", $weight: 500, $size: "medium", $alt: ()) {
    font-family: map-get($fonts, $family);
    font-weight: $weight;
    font-size: map-get($fontSize, $size);
    line-height: map-get($fontSize, $size) * 1.5;

    @if (map-get($alt, "decoration")) {
        text-decoration: map-get($alt, "decoration");
    }

    @if (map-get($alt, "style")) {
        font-style: map-get($alt, "style");
    }

    @if (map-get($alt, "color")) {
        color: map-get($alt, "color");
    }
}

@mixin bodyText($family: "primary", $weight: 400, $size: "small", $alt: ()) {
    font-family: map-get($fonts, $family);
    font-weight: $weight;
    font-size: map-get($fontSize, $size);
    line-height: map-get($fontSize, $size) * 1.5;

    @if (map-get($alt, "decoration")) {
        text-decoration: map-get($alt, "decoration");
    }

    @if (map-get($alt, "style")) {
        font-style: map-get($alt, "style");
    }

    @if (map-get($alt, "color")) {
        color: map-get($alt, "color");
    }
}

/* breakpoints */
$mobile-only: '(max-width: 600px)';

$tablet-portrait-up: '(min-width:600px)';
$tablet-portrait-only: '(min-width:600px) and (max-width:960px)';
$tablet-portrait-down: '(max-width:959px)';

$tablet-landscape-up: '(min-width:960px)';
$tablet-landscape-only: '(min-width:960px) and (max-width:1200px)';
$tablet-landscape-down: '(max-width:1199px)';

$laptop-up: '(min-width:1200px)';
$laptop-only: '(min-width:1200px) and (max-width:1660px)';
$laptop-down: '(max-width:1659px)';

$desktop-up: '(min-width:1660px)';
$desktop-only: '(min-width:1660px)';
$desktop-down: '(max-width:2559px)';

$highres-up: '(min-width:2560px)';