.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $bodyBg;
}

.logo{
  max-width: 300px;
}

.text{
  @include bodyText("primary",400,"medium",("color":$white));
}